<%- include('./partials/blogs-header') -%>

<section class="sect">

<div class="m-5 text-center">
  <h1 id="h1-tag-Blogs">Compose Content</h1>
</div>

<div class="last-blog container">
  
  <form method="POST" target="/compose">
    <div class="form-group">
      <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter the Title">
    </div>

    <div class="form-group">
      <textarea class="form-control" name="postContent" placeholder="Enter the Content" rows="50" cols="50" id="editor">
        </textarea>
    </div>
    
    <div class="contactbutton m-5">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  
</div>

</section>

<%- include('./partials/footer') -%>